<!DOCTYPE html>

<html>
    <head> 
        <title>*User's* Page</title>
        <meta name="the user's profile." content="contains the memes they've liked, their status, biography, and more"/>
    </head>

    <body>
        <form action="/bio">
            <label for="bio">Your Biography</label><br>
            <input type="text" id="bio" name="bio" value="Change me"><br>
        </form>
    </body>
</html>