<!DOCTYPE html>
<html>
<head>
    <meta charset=utf8>
    <link rel="stylesheet" href="/jquery-ui.min.css">
    <script src="/jquery.js"></script>
    <script src="/jquery-ui.min.js"></script>
    <script src="../editHierarchy/editHierarchyScript.js"></script>
</head>
<style>
    table, th, td {
      border: 3px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 10px;
      text-align: center;
    }
</style>
<body>

<div id="form">
</div>
<%- list(); %>

</body>
</html>