<!-- cheap navigation bar -->
<div style="background: cyan">
    <a href="/register">Log in</a>
    <a href="/home">Home</a>
    <a href="/profile">Profile</a>
    <a href="/online">Online Users</a>
    <a href="/search">Today's Spiciest Memes</a>
</div>