<img src="/scribble.png" width=120>
<!-- cheap navigation bar -->
<div style="background: cyan">
    <a href="/">LameHome</a>
    <a href="/home">Home</a>
    <a href="/profile">Profile</a>
    <a href="/online">Online Users</a>
    <a href="/trending">Today's Spiciest Memes</a>
</div>