<!DOCTYPE html>
<html>
<head><meta charset=utf8></head><body>
<%- include("header"); %>
This is the index page.
There's lots of content here.
<img src = "/avatar">
<%- include("footer"); %>
</body></html>