<!DOCTYPE html>
<html>
<head>
<meta charset=utf8>

<body>
    
<%- include("header"); %>
This is the login page.
<form action="/register">
    <label for="Username"></label><br>
    <input type="text" id="currentUser" name="username" value="Username"style="height:20px; width:80;"><br>
    <div class="form-group">
    <label for="Password"></label><br>
    <input type="text" id="registerpass" name="password" value="Password"style="height:20px; width:80;"><br>
    <div class="form-group">
    <input type="submit" value="Submit">

</body></html>
