<!DOCTYPE html>
<html>
<head>
<meta charset=utf8>

<body>
    
<%- include("header"); %>
This is your settings page.
<form action="/settings">
    <label for="Username">Change your username.</label><br>
    <input type="text" id="currentUser" name="currentUser" value="<%= currentUser %>"style="height:20px; width:80;"><br>
    <div class="form-group">

    <label for="Privacy">Change your privacy settings.</label><br>
    <input type="text" id="privacy" name="privacy" value="<%= privacy %>"style="height:20px; width:80;"><br>
    <div class="form-group">
    
    <label for="Bio">Enter profile description.</label><br>
    <input type="text" id="bio" name="bio" value="<%= bio %>"style="height:20px; width:80;"><br>
    <div class="form-group">

    <input type="submit" value="Submit">

</body></html>
