<!DOCTYPE html>
<html>
<head><meta charset=utf8></head><body>
<% include("header"); %>

Top 5 Sad Cats on the web - - -
<div><%memeManager.mData[0].name%></div>

<% for(let i=0;i<memeManager.mData.length;++i) { %>
    <div>
        <%- memeManager.mData[i].name %> <%= memeManager.mData[i].likes %>
    </div>
<% } %>
<% include("footer"); %>
</body></html>